# What's a Programming Language?

> A well-defined way of writing text such that it can be executed by a computer to reach a certain effect or result.

**demo** -- execute (simple) files; REPL

# Syntax and Semantics

### Syntax: Formal rules which (lines of) text are valid code in a given language.

In [1]:
"Hello World'

SyntaxError: unterminated string literal (detected at line 1) (2588672092.py, line 1)

In [2]:
23

23

In [3]:
2 3

SyntaxError: invalid syntax (695001889.py, line 1)

### Semantics: Meaning of certain line(s) of code, i.e. the 'meaning of' code, or knowledge about the effect of a given piece of code.
- Not everythin that's syntactically valid is also semantically meaningful:
  - Blue lemons flow particularly high.
  - I own a four-sided sphere.

In [4]:
print('Hello World')

Hello World

In [5]:
# comments are ignored
# anything starting with a `#` is a comment in python
print(3 + 5)  # this is still a comment

8

# Properties of the Python Language

- multi-paradigm:
  - imperative
  - object-oriented
  - funtional
  - procedural
- strongly typed
- dynamically typed
- whitespace-sensitive

# Some First Concepts:

### Variables
- named memory location
- stores a (typed) value
- can in general be read (retrieving the value) or written (storing the value; assignment)

### Data Types
- categories of data/values
- required to interpret the value stored in that memory location

## Variables

In [6]:
# implicit declaration and assignment
# assignment operator `=`
int_variable = 5
str_variable = 'hello'

# dynamic typing
int_variable = 3.14
str_variable = False

# strong typing
a = 5
b = '5'
print('The type of `a` is', type(a))
print('The type of `b` is', type(b))

print('is a the same as b:', a == b)
print('is 97 the same as "a":',  97 == 'a')

The type of `a` is <class 'int'>
The type of `b` is <class 'str'>
is a the same as b: False
is 97 the same as "a": False

In [7]:
print('can I add strings and numbers?')
'3' + 5

can I add strings and numbers?

TypeError: can only concatenate str (not "int") to str

In [8]:
# error message depends on the argument order though
5 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
# id function: identity of object -- typically the memory location the object is stored at
print(id('123'))
print(id(5))

139899915909360
94253834897352

## Data Types:
- Numerical:
  - bool, int, float, complex
- Immutable sequences:
  - tuple, str, bytes
- Mutable sequences:
  - list, bytearray
- Sets
  -set, frozenset 
- Mappings:
  - dict

### Numerical
- There are three distinct numeric types:
  - integers
  - floating point numbers
  - complex numbers
- Also, one subtype of integers:
  - Booleans

#### Integer
- (signed) integral numbers
- arbitrary size (!)

In [10]:
# construction of integers

x = 5  # literal
y = int(5)  # 'class constructor'
z = int('5')  # 'class constructor with type conversion
x == y == z

True

In [11]:
# common bases

x = 0x0F
y = 0o17
z = 0b00001111

x == y == z

True

In [12]:
# arbitrary basis

int('12321', 4)

441

In [13]:
# arbitrary precision integers in python

print(2**65)
print(type(2**65))
2**1000

36893488147419103232
<class 'int'>

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [14]:
# the memory location doesn't just store the value in python, there's actually more attached to this object
# objects with methods
print([x for x in dir(int) if not x.startswith('_')])
print()

x = 5
print('5 ==', bin(x))
print('bit_length() ==', x.bit_length())
print()

x = 2**65
print('2**65 ==', bin(x))
print('bit_count() ==', x.bit_count())

['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

5 == 0b101
bit_length() == 3

2**65 == 0b100000000000000000000000000000000000000000000000000000000000000000
bit_count() == 1

In [15]:
# for numeric types in particular, this doesn't work on literals
5.bit_length()

SyntaxError: invalid decimal literal (686351407.py, line 2)

#### Floats
- real numbers
- implementation dependent!
- no difference between single- and double-precision

In [16]:
# construction of floats

x = 3.1415  # literal
y = float(3.1415)  # 'class constructor'
z = float('3.1415')  # 'class constructor with type conversion'

x == y == z

True

In [17]:
# other notations
x = 31.415e-1
y = 3.1415E0
x == y

True

In [18]:
# special instances of floats
print(float('NaN'))
print(float('+Infinity'))
print(float('-Infinity'))

nan
inf
-inf

In [19]:
# objects with methods

print([x for x in dir(float) if not x.startswith('_')])
print()

x = 3.0
y = 3.1415

print(type(x), x.is_integer())
print(type(y), y.is_integer())
print()
print(y.as_integer_ratio())

['as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

<class 'float'> True
<class 'float'> False

(7074029114692207, 2251799813685248)

#### Complex

- pretty much like float
- but with real and imaginary part
- imaginary part initialized with `j`

In [20]:
z1 = 3.14 - 2.718j
z1

(3.14-2.718j)

In [21]:
z1.conjugate()

(3.14+2.718j)

#### Boolean
- subtype of integer
- keywords for initialization: `True`, `False`
- rule of thumb: `None`, `0` in all numeric types, empty sequences and containers are evaluated as False. Anything else is evaluated as True.

In [22]:
t = True
f = False

print(t == f)

False

In [23]:
print(bool(1))
print(bool(0))

True
False

In [24]:
bool(2)

True

In [25]:
bool('a')

True

In [26]:
bool('')

False

In [27]:
print(bool(3.1 + 2j))
print(bool(0 + 3j))
print(bool(3 + 0j))
print(bool(0 + 0j))

True
True
True
False

### Sequences
- finite, ordered group of elements
- 0-indexed: index 0...N-1 for sequence of length N
- All sequences support `len` to determine length of the sequence
- All sequences support indexing and slicing (see examples below)
- All sequences support membership tests `x in s` / `x not in s`
- All sequences support (repeated) concatenation using the `+` and `*` operators
- All sequences support `index` and `count` methods (see below)

#### Immutable sequence: Tuple
- Tuples are immutable sequences, typically used to store collections of heterogeneous data or where an immutable (hashable) sequence of homogeneous data is needed
- In addition to the common operations they support the `hash` operation
- elements can be arbitrary (mixed type) python objects
- initialization as comma-separated list (usually) enclosed by round brackets

In [28]:
t1 = (1, 2, 3)
t2 = tuple((1, 2, 3))
t3 = 1, 2, 3
t1 == t2 == t3

True

In [29]:
# len of sequence:
len(t1)

3

In [30]:
# mixed type:
t_mix = (1, 'a', 2.5, (3, 4, 5), int)
print(t_mix)

(1, 'a', 2.5, (3, 4, 5), <class 'int'>)

In [31]:
# indexing
print('at index 0', t1[0])
print('at index 1', t1[1])
print('at index 2', t1[2])

at index 0 1
at index 1 2
at index 2 3

In [32]:
# can not index beyond boundaries
t1[3]

IndexError: tuple index out of range

In [33]:
# but can index 'from the back', starting with the last element at index -1
print('at index -1', t1[-1])
print('at index -2', t1[-2])
print('at index -3', t1[-3])

at index -1 3
at index -2 2
at index -3 1

In [34]:
# can not index beyond boundaries this way either
t1[-4]

IndexError: tuple index out of range

In [35]:
# slicing: extracting a sub-sequence
# lower bound inclusive, upper bound exclusive!
t1 = (1, 2, 3, 4, 5)
print('t1[0:5]', t1[0:5])
print('t1[0:4]', t1[0:4])
print('t1[0:3]', t1[0:3])
print('t1[1:5]', t1[1:5])
print('t1[2:4]', t1[2:4])

t1[0:5] (1, 2, 3, 4, 5)
t1[0:4] (1, 2, 3, 4)
t1[0:3] (1, 2, 3)
t1[1:5] (2, 3, 4, 5)
t1[2:4] (3, 4)

In [36]:
# 'open-ended' slicing
print('t1[3:]', t1[3:])
print('t1[:3]', t1[:3])
print('t1[:3], t1[3:]', t1[:3], t1[3:])

t1[3:] (4, 5)
t1[:3] (1, 2, 3)
t1[:3], t1[3:] (1, 2, 3) (4, 5)

In [37]:
# immutable: no assignment to elements
t1[2] = 7

TypeError: 'tuple' object does not support item assignment

In [38]:
# but of course I can make the variable point at another object
t1 = (1, 2, 7, 4, 5)
print(t1)

(1, 2, 7, 4, 5)

In [39]:
# again, objects with methods
print([x for x in dir(tuple()) if not x.startswith('_')])
print()

['count', 'index']

In [40]:
('a', 'b', 'a', 'c').count('a')

2

In [41]:
('a', 'b', 'a', 'c').index('b')

1

In [42]:
('a', 'b', 'a', 'c').index('a')

0

#### Mutable Sequence: list
- Lists are mutable sequences, typically used to store collections of homogeneous items
- elements can be arbitrary (mixed type) python objects
- creation with square brackets
- most behaviour identical to tuples
- with additional methods to modify the sequence, e.g. element assignment, `del`, `append`/`extend`, `remove`, `pop`

In [43]:
l1 = [1, 2, 3]
l2 = list([1, 2, 3])

In [44]:
# conversion between tuples and lists
l1 = list((1, 2, 3))
t1 = tuple([1, 2, 3])
print(l1)
print(t1)

[1, 2, 3]
(1, 2, 3)

In [45]:
# but lists support item assignment
print('before assignment', l1, id(l1))
l1[1] = 7
print('after assignment', l1, id(l1))

before assignment [1, 2, 3] 139899838441792
after assignment [1, 7, 3] 139899838441792

In [46]:
# again, objects with methods
print([x for x in dir(list()) if not x.startswith('_')])
print()

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [47]:
# mutability also allows inserting and appending elements
l1 = [1, 2, 3]
print(l1, id(l1))
l1.append(7)
print(l1, id(l1))

[1, 2, 3] 139899836955968
[1, 2, 3, 7] 139899836955968

In [48]:
l1 = [1, 2, 3]
print(l1, id(l1))
l1.insert(1, 7)
print(l1, id(l1))

[1, 2, 3] 139899838437184
[1, 7, 2, 3] 139899838437184

In [49]:
# or deleting elements
l1 = [1, 2, 3]
del l1[1]
l1

[1, 3]

In [50]:
# can be sorted and reversed
l1 = [4, 1, 3, 2]
l1.sort()
l1

[1, 2, 3, 4]

In [51]:
l1.reverse()
l1

[4, 3, 2, 1]

In [52]:
# again, objects with methods
print([x for x in dir(list()) if not x.startswith('_')])
print()

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### Immutable sequence: Strings
- Textual data in Python is handled with str objects, or strings. Strings are immutable sequences of Unicode code points
- Strings can be single- (`'`) or double-quote (`"`) delimited
- Three quotes on each end can be used for multi-line strings
- Backslash `\` as escape character
- Strings in Python always hold Unicode text
- Strings are objects with methods

In [53]:
print('This is a string')
print("This, too, is a string")

This is a string
This, too, is a string

In [54]:
print('''Here is a string
that can span more than one line''')

Here is a string
that can span more than one line

In [55]:
print('Here\'s a tab: \t and you create a backslash like this: \\. \nYou can create newlines, too.')

Here's a tab: 	 and you create a backslash like this: \.
You can create newlines, too.

In [56]:
print('ðŸ˜€ or \U0001F622')

ðŸ˜€ or ðŸ˜¢

In [57]:
print([x for x in dir('') if not x.startswith('_')])  # see also: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [58]:
# concatenate multiple strings with a separator
', '.join(('foo', 'bar', 'baz'))

'foo, bar, baz'

In [59]:
'abc'.upper()  # lower, capitalize, casefold, ...

'ABC'

In [60]:
'abca'.count('a')

2

In [61]:
print('This is an awesome string'.find('a'))

8

In [62]:
'This is an awesome string'[8]

'a'

In [63]:
'This is an awesome string'[8] = 'b'

TypeError: 'str' object does not support item assignment

In [64]:
'This is an awesome string'.replace('string', 'example')

'This is an awesome example'

##### String Interpolation
- using f-strings only
- details on interpolation language: https://docs.python.org/3/library/string.html#formatspec

In [65]:
some_var = 'John'
print(f'My name is {some_var}')
print()
print(f'My centered, padded name is "{some_var:^12}"')
print(f'My left-aligned, padded name is "{some_var:<12}"')
print(f'My right-aligned, padded name is "{some_var:>12}"')

My name is John

My centered, padded name is "    John    "
My left-aligned, padded name is "John        "
My right-aligned, padded name is "        John"

In [66]:
some_number = 42
print(f'the value is {some_number}')
print(f'the value is {some_number + 11}')

the value is 42
the value is 53

In [67]:
print(f'the value really is {some_number:#x}')
print(f'the value really is {some_number:#o}')
print(f'the value really is {some_number:#b}')

the value really is 0x2a
the value really is 0o52
the value really is 0b101010

In [68]:
print(f'the value really is {some_number:#032b}')

the value really is 0b000000000000000000000000101010

In [69]:
real_number = 3.141592
print(f'the real number is {real_number}')
print(f'the real number is {real_number:10.5}')
print(f'the real number is {real_number:010.5}')
print(f'the real number is {-real_number:010.5}')

the real number is 3.141592
the real number is     3.1416
the real number is 00003.1416
the real number is -0003.1416

In [70]:
some_list = [1, 2, 3, 4]
print(f'a list looks like {some_list}')

a list looks like [1, 2, 3, 4]

In [71]:
# anything goes really
print(f'the string class looks like {str}')

the string class looks like <class 'str'>

In [72]:
print(f'Real useful for print-debugging: {some_number=}, {some_var=}, {real_number=}')

Real useful for print-debugging: some_number=42, some_var='John', real_number=3.141592

#### Immutable Sequence: byte
- Bytes objects are immutable sequences of single bytes.
- sort of a counter-pair to string
- while strings elements are any unicode character, byte elements are 8-bit bytes
- Since many major binary protocols are based on the ASCII text encoding, bytes objects offer several methods that are only valid when working with ASCII compatible data
- we can easily convert between string and byte representations
- byte representations depend on the encoding, of course
- supports all common sequence operations, as well as a number of features available to strings

In [73]:
# byte literals only for ascii-compatible values, anything larger must be entered as escape sequence
b'abc'

b'abc'

In [74]:
b'abc' == 'abc'.encode()

True

In [75]:
b'Ã¼'

SyntaxError: bytes can only contain ASCII literal characters (1680351477.py, line 1)

In [76]:
b'\xfc'.decode('iso-8859-1')

'Ã¼'

In [77]:
'ðŸ˜€'.encode()

b'\xf0\x9f\x98\x80'

In [78]:
'ðŸ˜€'.encode('utf-16')

b'\xff\xfe=\xd8\x00\xde'

In [79]:
# otherwise same as other sequences
s = 'ðŸ˜€'
bs = s.encode()
print('length of the string:', len(s))
print('length of the bytestring:', len(bs))
bs[:2]

length of the string: 1
length of the bytestring: 4

b'\xf0\x9f'

In [80]:
# individual elements are actually represented as integer numbers
bs[0]

240

In [81]:
print([x for x in dir(b'') if not x.startswith('_')])  # see also: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

['capitalize', 'center', 'count', 'decode', 'endswith', 'expandtabs', 'find', 'fromhex', 'hex', 'index', 'isalnum', 'isalpha', 'isascii', 'isdigit', 'islower', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### Mutable Sequence: bytearray
- mutable equivalent of byte
- only 8-bit values can be assigned to elements

In [82]:
ba = bytearray(bs)
ba[0]

240

In [83]:
ba[0] = 256

ValueError: byte must be in range(0, 256)

In [84]:
# but you can create byte sequences that are not valid unicode code points
ba[0]=255
ba.decode()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [85]:
# other are
ba[0] = 240
ba[1] = 160
ba.decode()

'ð ˜€'

### Set Types
- A set object is an unordered collection of distinct hashable objects.
- Basically an implementation of the mathematical `set` object.
- unordered, hence no indexing or slicing
- membership tests are fast

In [86]:
s1 = {1, 2, 1, 3, 15, 2}
print(s1)

{1, 2, 3, 15}

In [87]:
# membership tests
print(1 in s1)
print(7 in s1)

True
False

In [88]:
# watch out when creating from iterables (especially strings)
set_of_letters = set('Hello World')
set_of_words = set(['Hello', 'World'])
print(set_of_letters)
print(set_of_words)

{'e', 'l', ' ', 'o', 'W', 'H', 'd', 'r'}
{'Hello', 'World'}

In [89]:
# elements need to be hashable
l1 = [1, 2, 3]
l2 = [4, 5, 6]
set([l1, l2])

TypeError: unhashable type: 'list'

In [90]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
set([t1, t2])

{(1, 2, 3), (4, 5, 6)}

In [91]:
# set operations:
s1 = {1, 2, 5}
s2 = {2, 5, 7}

s1.union(s2)  # alternatively s1 | s2

{1, 2, 5, 7}

In [92]:
s1.intersection(s2) # alternatively s1 & S2

{2, 5}

In [93]:
print(s1.difference(s2)) # alternatively s1 - s2
print(s2.difference(s1)) # alternatively s2 - s1

{1}
{7}

In [94]:
s1.symmetric_difference(s2) # alternatively s1 ^ s2, like xor

{1, 7}

In [95]:
# mutable
s1.add(19)
s1.remove(2)
s1

{1, 5, 19}

In [96]:
print([x for x in dir(set()) if not x.startswith('_')])  # see also: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### Mapping: Dictionaries
- A mapping object maps hashable values to arbitrary objects. Mappings are mutable objects. `Dict` is the only mapping object built in to Python.
- related to sets: basically sets with values (or vice versa: sets are dicts without values)
- lookups are fast

In [97]:
d1 = {'k1': 'v1', 'k2': 'v2'}
d1['k1']

'v1'

In [98]:
# insertions (and deletions)
d1['k3'] = 'this is a new entry'
d1

{'k1': 'v1', 'k2': 'v2', 'k3': 'this is a new entry'}

In [99]:
del d1['k1']
d1

{'k2': 'v2', 'k3': 'this is a new entry'}

In [100]:
# keys need to be hashable
l1 = [1, 2, 3]
d1[l1] = 5

TypeError: unhashable type: 'list'

In [101]:
t1 = (1, 2, 3)
d1[t1] = 5
d1

{'k2': 'v2', 'k3': 'this is a new entry', (1, 2, 3): 5}

In [102]:
# retrieval
d1['k2']

'v2'

In [103]:
# invalid keys
d1['no key here']

KeyError: 'no key here'

In [104]:
# avoid the KeyError with `get`
print(d1.get('no key here'))
print(d1.get('no key here', 'default'))

None
default

In [105]:
# returns (dynamic) view object
d1.keys()

dict_keys(['k2', 'k3', (1, 2, 3)])

In [106]:
d1.values()

dict_values(['v2', 'this is a new entry', 5])

In [107]:
d1.items()  # useful for iterating over entries -- next week

dict_items([('k2', 'v2'), ('k3', 'this is a new entry'), ((1, 2, 3), 5)])

In [108]:
# view change with the dictionary
d1 = {'k1': 1, 'k2': 2}
dict_keys = d1.keys()
dict_keys_list = list(dict_keys)

print(d1)
print(dict_keys)
print(dict_keys_list)

d1['new_key'] = 5

print('\n#### after changing the dict ####')
print(d1)
print(dict_keys)
print(dict_keys_list)

{'k1': 1, 'k2': 2}
dict_keys(['k1', 'k2'])
['k1', 'k2']

#### after changing the dict ####
{'k1': 1, 'k2': 2, 'new_key': 5}
dict_keys(['k1', 'k2', 'new_key'])
['k1', 'k2']

In [109]:
print([x for x in dir(dict()) if not x.startswith('_')])  # see also: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Operators

### Arithmetic Operators
- Addition (+)
- Subtraction (-)
- Division (/)
- Multiplication (*)
- Integer Division (//)
- Modulo (%)
- Power (**)

In [110]:
# On Numbers
print('3 + 5 = ', 3 + 5)
print('3 - 5 = ', 3 - 5)
print('3 / 5 = ', 3 / 5)
print('3 * 5 = ', 3 * 5)
print('3 // 5 = ', 3 // 5)
print('3.0 // 5.0 = ', 3.0 // 5.0)
print('3 % 5 = ', 3 % 5)
print('3**5 = ', 3**5)
print()
print('-3 // 5 = ', -3 // 5)
print('-3 % 5 = ', -3 % 5)
print('3.0 // 5 = ', 3.0 // 5)

3 + 5 =  8
3 - 5 =  -2
3 / 5 =  0.6
3 * 5 =  15
3 // 5 =  0
3.0 // 5.0 =  0.0
3 % 5 =  3
3**5 =  243

-3 // 5 =  -1
-3 % 5 =  2
3.0 // 5 =  0.0

In [111]:
# resulting types
print(type(3 / 5))
print(type(3 // 5))
print(type(3.0 // 5))

<class 'float'>
<class 'int'>
<class 'float'>

In [112]:
# not everything is valid
1 / 0

ZeroDivisionError: division by zero

In [113]:
1. % 0.

ZeroDivisionError: float modulo

In [114]:
1 // 0

ZeroDivisionError: integer division or modulo by zero

#### 'Arithmetic' operators on non-numeric types

In [115]:
# Some of these also work on other types
print('a' + 'b')

ab

In [116]:
# but not necessarily all of them for every type
print('a' * 'b')

TypeError: can't multiply sequence by non-int of type 'str'

In [117]:
# and sometimes on mixed types
print('a' * 5)

aaaaa

In [118]:
# also lists
l1 = [1, 2]
l2 = [3, 4]
l1 + l2

[1, 2, 3, 4]

In [119]:
# we can also multiply lists by numbers (similar to the string example above
l1 * 3

[1, 2, 1, 2, 1, 2]

In [120]:
# or tuples
t1 = (1, 2)
t2 = (3, 4)
t1 + t2

(1, 2, 3, 4)

In [121]:
t1 * 2

(1, 2, 1, 2)

In [122]:
# no addition for sets
{1, 2} + {2, 3, 4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [123]:
# instead: 
{1, 2} | {2, 3, 4}

{1, 2, 3, 4}

In [124]:
# set difference does exist
{1, 2} - {2, 3, 4}

{1}

In [125]:
# nothing of this sort exists for dicts
{1: 'a'} + {2: 'b'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Assignment Operators
- Assignment (=)
- Additive Assignment (+=)
- Subtractive Assignment (-=)
- Division Assignment (/=)
- Multiplicative Assignment (*=)
- Integer Division Assignment (//=)
- Modulo Assignment (%=)
- Power Assignment (**=)

Augmented assignments are usually equivalent to the explicit version: `a += b` is the same as `a = a + b`

In [126]:
# All of these require the lhs to be writeable
5 = 3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3698269563.py, line 2)

In [127]:
False = True

SyntaxError: cannot assign to False (2778346704.py, line 1)

In [128]:
a = 5
b = 3
a += b
print(a)

8

In [129]:
# Arithmetic operators in assignment must of course be supported by base type
a = 'foo'
b = 'bar'
a -= b

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

### Comparison Operators
- Equality (==)
- Inequality (!=)
- Greater than (>)
- Less than (<)
- Greater or equal (>=)
- Less or equal (<=)

result is always a boolean

In [130]:
# trivial examples
print('5 == 3:', 5 == 3)
print('5 > 3:', 5 > 3)
print('5 < 3:', 5 < 3)

5 == 3: False
5 > 3: True
5 < 3: False

In [131]:
# mixed numeric types
print('5.0 == 5: ', 5.0 == 5)
print('5.0 + 0j == 5: ', 5.0 + 0j == 5)

5.0 == 5:  True
5.0 + 0j == 5:  True

In [132]:
# be carefule with equality of floating point numbers:
print('0.1 + 0.2 == 0.3:', 0.1 + 0.2 == 0.3)

0.1 + 0.2 == 0.3: False

In [133]:
print(0.1)
print(f'{0.1:.40}')

0.1
0.1000000000000000055511151231257827021182

In [134]:
# special case of numerics:
print("5 == float('NaN'):", 5 == float('NaN'))
print("float('NaN') == float('NaN'):", float('NaN') == float('NaN'))
print("float('NaN') == float('Infinity'):", float('NaN') == float('Infinity'))
print("float('Infinity') == float('Infinity'):", float('Infinity') == float('Infinity'))
print("float('-Infinity') == float('-Infinity'):", float('-Infinity') == float('-Infinity'))
print("float('Infinity') == float('-Infinity'):", float('Infinity') == float('-Infinity'))
print()
print("5 > float('NaN'):", 5 > float('NaN'))
print("5 < float('NaN'):", 5 < float('NaN'))
print("5 == float('NaN'):", 5 == float('NaN'))

5 == float('NaN'): False
float('NaN') == float('NaN'): False
float('NaN') == float('Infinity'): False
float('Infinity') == float('Infinity'): True
float('-Infinity') == float('-Infinity'): True
float('Infinity') == float('-Infinity'): False

5 > float('NaN'): False
5 < float('NaN'): False
5 == float('NaN'): False

In [135]:
# string equality:
print("'abc' == 'abc': ", 'abc' == 'abc')
print("'abc' == 'def': ", 'abc' == 'def')
print("'abc' == 'ab': ", 'abc' == 'ab')

'abc' == 'abc':  True
'abc' == 'def':  False
'abc' == 'ab':  False

In [136]:
# string inequality
print("'abc' > 'ab': ", 'abc' > 'ab')
print("'abc' > 'd': ", 'abc' > 'd')
print("'abc' < 'd': ", 'abc' < 'd')
print("'abc' > 'dabcf': ", 'abc' > 'dabcf')
print("'abc' < 'dabcf': ", 'abc' < 'dabcf')
# so what's the rule here?

'abc' > 'ab':  True
'abc' > 'd':  False
'abc' < 'd':  True
'abc' > 'dabcf':  False
'abc' < 'dabcf':  True

### Logical Operators
- The operator `not` yields True if its argument is false, False otherwise.

- The expression `x and y` first evaluates x; if x is false, its value is returned; otherwise, y is evaluated and the resulting value is returned.

- The expression `x or y` first evaluates x; if x is true, its value is returned; otherwise, y is evaluated and the resulting value is returned.

- rule of thumb: `None`, `0` in all numeric types, empty sequences and containers are evaluated as False. Anything else is evaluated as True.

In [137]:
print('0 and 5:', 0 and 5)
print('5 and 0:', 5 and 0)
print('0 or 5:', 0 or 5)
print('5 or 0:', 0 or 5)

0 and 5: 0
5 and 0: 0
0 or 5: 5
5 or 0: 5

In [138]:
print('5 or print("Hello"):', 5 or print("Hello"))

5 or print("Hello"): 5

In [139]:
print('5 and print("Hello"):', 5 and print("Hello"))

Hello
5 and print("Hello"): None

In [140]:
print('not []:', not [])

not []: True

### Bitwise operators
- The `&` operator yields the bitwise AND of its arguments, which must be integers
- The `^` operator yields the bitwise XOR (exclusive OR) of its arguments, which must be integers
- The `|` operator yields the bitwise (inclusive) OR of its arguments, which must be integers
- The `<<` and `>>` operators accept integers as arguments. They shift the first argument to the left or right by the number of bits given by the second argument.
- The `~` operator inverts all bits of its argument (watch out with signed numbers!)

In [141]:
x0 = 17
x1 = 5

In [142]:
print(f'binary x0: {x0:08b}')
print(f'binary x1: {x1:08b}')

binary x0: 00010001
binary x1: 00000101

In [143]:
print(f'x0 & x1: {x0 & x1:08b} == {x0 & x1}')
print(f'x0 & x1: {x0 | x1:08b} == {x0 | x1}')
print(f'x0 ^ x1: {x0 ^ x1:08b} == {x0 ^ x1}')

x0 & x1: 00000001 == 1
x0 & x1: 00010101 == 21
x0 ^ x1: 00010100 == 20

In [144]:
print(f'x0 >> 3: {x0 >> 3:08b} == {x0 >> 3}')
print(f'x0 << 3: {x0 << 3:08b} == {x0 << 3}')

x0 >> 3: 00000010 == 2
x0 << 3: 10001000 == 136

In [145]:
print(f'~x0: {~x0:08b} == {(~x0)}')

~x0: -0010010 == -18

In [146]:
print(f'~x0: {~x0 & 0xff:08b} == {(~x0)}')

~x0: 11101110 == -18