# pandas
- 'fast, powerful, flexible and easy to use open source data analysis and manipulation tool'
- functionality looks a bit like execel sheets / relational tables
- built on top of numpy
- two main datastructures:
  - `Series`: 1D Data -- typically single column, multiple rows
  - `DataFrame`: 2D Data -- multiple rows, multiple columns
- generally: avoid looping over rows of `DataFrames`: you can almost always achieve your goal using vectorized operations, joins etc.

## Installation and Import

In [ ]:
!/home/atreju/.conda/envs/dhbw/bin/pip install pandas

In [ ]:
import numpy as np
import pandas as pd  # convention, as usual

## pd.Series Basics
- one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
- The axis labels are collectively referred to as the index.

### creating a Series
- can be easily created from lists/numpy arrays/dicts/scalars

In [ ]:
# create a Series from a list/numpy array
pd.Series([3, 4, 5])

In [ ]:
# and specify an index while you're at it
pd.Series([3, 4, 5], index=['a', 'b', 'c'])

In [ ]:
# or you can create it from a dictionary
pd.Series({'a': 3, 'b': 4, 'c': 5})

In [ ]:
# or from constants, basically like broadcasting. 
pd.Series(3, index=['a', 'b', 'c'])

### Series properties
- dtypes, math + broadcasting, names, ...

In [ ]:
# you can get out the index again
s = pd.Series({'a': 3, 'b': 4, 'c': 5})
s.index

In [ ]:
# and there's a single datatype for a Series, usually one of the numpy types
s.dtype

In [ ]:
# just like numpy you can do vectorized math according to numpy broadcasting rules
s + 2

In [ ]:
# and a `pd.Series` can be used in many numpy functions directly (preserving, but not modifying the index)
np.sqrt(s)

In [ ]:
# and you can get a real numpy array out of it if you need to
arr = s.to_numpy()
arr

In [ ]:
type(arr)

In [ ]:
arr.dtype

In [ ]:
# a Series can also have a `name`, behaving sort of like a column label
s = pd.Series({'a': 3, 'b': 4, 'c': 5}, name='series_name')
s

In [ ]:
# and you can change the name, of course
s.rename('new_name')

### Indexing
- indexing of rows by index value simply using []
- indexing of rows by numerical row-number using `.iloc`
- logical indexing like in numpy also works
- no indexing of columns, since there's only one :)

In [ ]:
s = pd.Series({'a': 3, 'b': 4, 'c': 5})
s

In [ ]:
# square bracket indexing returns the row with matching index
s['a']

In [ ]:
# you can slice with non-numeric indices
s['a':'c':2] *= 2
s

In [ ]:
# alternatively, use `Series.loc (more interesting for DataFrames)
s.loc['a':'b']

In [ ]:
# and iff the row name is a valid python variable name you can also access it as an attribute (but no slicing here)
s.a

In [ ]:
# you can also use numerical indices -- row number, effectively
s.iloc[1]

In [ ]:
# and you can use logical indexing
s[s > 4]

In [ ]:
# you can create new rows simply by indexing and assignment
# (but this is rather slow)
s['foo'] = 5
s

In [ ]:
# and rows can be removed again using `del`
# (again, rather slow)
del s['foo']
s

### Automatic alignment
- operations combining two Series objects automatically consider the index in all element-wise operations

In [ ]:
s1 = pd.Series({'a': 3, 'b': 4, 'c': 5           })
s2 = pd.Series({        'b': 14, 'c': 15, 'd': 16})

In [ ]:
s1 + s2

## pd.DataFrame Basics
- 2-dimensional labeled data structure with columns of **potentially different** types
- pretty much like a spreadsheet or SQL table
- index for both rows and columns (and indices can be hierarchical)
- most commonly used and most important pandas object

### creating a DataFrame
- can easily be created from dicts of lists, lists of dicts, Series, ...
- or (commonly) read from files

In [ ]:
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': [1, 2, 3.1415, 4, 5]
}
df = pd.DataFrame(data)
df

In [ ]:
# or with more interesting row index
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': [1, 2, 3.1415, 4, 5]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
# or read from a large variety of file formats
pd.read_csv('../data/iris.csv')

In [ ]:
pd.read_

### DataFrame properties

In [ ]:
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': [1, 2, 3.1415, 4, 5]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
# you can get out the index again
df.index

In [ ]:
# but now there's also an index for the columns
df.columns

In [ ]:
# and the dtype is now column-specific
df.dtypes

In [ ]:
# you also have a shape, same as in numpy
df.shape

In [ ]:
# just like numpy you can do vectorized math according to numpy broadcasting rules
df + 2

In [ ]:
# or pass it to numpy functions (if the datatypes of all columns are compatible of course)
# this will automatically upcast column dtypes as necessary
np.sqrt(df)

In [ ]:
np.sqrt(df).dtypes

In [ ]:
# you can still convert it to a single numpy array
df_arr = df.to_numpy()
df_arr

In [ ]:
# but that needs to bring all columns to a common type by upcasting
df_arr.dtype

In [ ]:
# more interestin type mixing
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': ['foo', 'bar', 'bazz', 'here', 'there']
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
df.dtypes

In [ ]:
# obviously these kinds of operations only work on compatible column types
df + 2

In [ ]:
# and the last resort for upcasting mixed types is `object`
df.to_numpy()

### indexing
- square brackets now index columns, not rows
- `.loc` allows indexing of both rows and column
- `.iloc` allows numerical row/column-indices
- logical indexing now doesn't reduce the size, but just replaces unselected values by `NaN`. Use `.dropna` to actually remove rows

In [ ]:
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': [1, 2, 3.1415, 4, 5]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
# normal indexing gives me a column
df['first_column']

In [ ]:
# but (watch out!) a slice in the same position will be applied to rows, not columns
df['a'::2]

In [ ]:
# you can also access the column as an attribute if it's a valid python variable name
df.second_column

In [ ]:
# `.loc` by default will be a row-index still
df.loc['a']

In [ ]:
# but I can pass the column as second argument
df.loc['c', 'first_column']

In [ ]:
# slicing still works also in `.loc`
# and also, I can select multiple rows (or columns) by indexing with a list/tuple
df.loc['a':'d':2, ('first_column', 'second_column')]

In [ ]:
# and even re-order the index that way
df.loc[('a', 'c', 'b'), 'first_column'::2]

In [ ]:
# `.iloc` for numerical indicies into both rows and columns, otherwise working like `.loc`
df.iloc[-1, :]

In [ ]:
# logical indexing will simply set all non-selected values to NaN
df[df > 3]

In [ ]:
# use dropna to actuall git rid of extra rows/columns
df[df > 3].dropna(how='any')

In [ ]:
# decide on dropping rows where any value is NaN, or all values are NaN
df[df > 3].dropna(how='all')

In [ ]:
# you can again add columns (or rows) using indexing + assignment
df['new_column'] = [11, 12, 13, 14, 15]
df

In [ ]:
# obviously the length needs to be broadcastable
df['new_column'] = [11, 12, 13]

In [ ]:
# broadcasting works just fine here
df['new_column'] = 5
df

In [ ]:
# same for rows, using loc
df.loc['f', :] = [6, 6., 5]
df

In [ ]:
# or both could be new
df.loc['g', 'some_column'] = 42
df

### Automatic Alignment
- for `DataFrame`s alignment happens on both rows and columns

In [ ]:
df1 = pd.DataFrame(np.ones((6, 4)), columns=['A', 'B', 'C', 'D'], index=['a', 'b', 'c', 'd', 'e', 'f'])
df2 = pd.DataFrame(np.ones((3, 3)), columns=['A', 'C', 'D'], index=['b', 'd', 'f'])
df1 + df2

In [ ]:
# but you can manually specify a 'fill value' to use if one of the DataFrames is NaN
df1.add(df2, fill_value=0)

In [ ]:
df = pd.DataFrame(np.arange(15).reshape(5, 3), columns=['A', 'B', 'C'])
df

In [ ]:
# operations between DataFrames and Series are broadcast row-wise
s = pd.Series([1, 1, 1], index=['A', 'B', 'C'])
df - s

In [ ]:
# but only if the indices match will the result make much sense (automatic alignment again)
s = pd.Series([1, 1, 1], index=['X', 'B', 'Z'])
df - s

In [ ]:
# so subtracting eg one columns from the rest doesn't work the way you think:
df - df.C

In [ ]:
# you can use explicit dataframe methods if you want to apply arithmetic column-wise, specifying an axis
df.sub(df.C, axis=0)

## Truthiness and comparison of DataFrames

In [ ]:
data = {
    'first_column': [1, 2, 3, 4, 5],
    'second_column': [1, 2, 3.1415, 4, 5]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
if df > 0:
    print('It is indeed greater than 0')

In [ ]:
boolean_df = df > 0
boolean_df

In [ ]:
boolean_df.all()

In [ ]:
boolean_df.all(axis=1)

In [ ]:
boolean_df.all().all()

In [ ]:
if boolean_df.all().all():
    print('Actually, all the elements are True')

In [ ]:
df.loc['a', 'first_column'] = np.NaN
df

In [ ]:
# NaNs hiding in a DataFrame can make some things suprisingly false
df + df == 2*df

In [ ]:
(df + df == 2*df).all().all()

In [ ]:
# use `equals` to compare dataframes for equality instead
(df + df).equals(2*df)

## Summarizing DataFrames

In [ ]:
df = pd.read_csv('../data/iris.csv')

In [ ]:
# by default a limited number of rows (and columns) is printed
df

In [ ]:
# look only at the first N rows
df.head(5)

In [ ]:
# or the last N rows
df.tail(3)

In [ ]:
# get some overview of datatypes and NULL/NaN values
df.info()

In [ ]:
# or some descriptive statistics (leaving out non-numeric columns)
# (you can specify your own percentiles, too)
df.describe()

In [ ]:
# describe also works on some non-numeric columns, just not in combination with numerical columns)
df.variety.describe()

In [ ]:
# unless you force it
df.describe(include='all')

## sorting DataFrames

In [ ]:
df = pd.DataFrame(
    np.random.randint(low=3, high=17, size=(5, 3)),
    columns=['col_1', 'col_2', 'col_3'],
    index=['e', 'a', 'x', 'y', 'b']
)
df

In [ ]:
# sort by index
df.sort_index()

In [ ]:
# sort by the values in one column
df.sort_values(['col_1'])

In [ ]:
# or by multiple columns (if there are ties in the first column)
df.sort_values(['col_1', 'col_3'])

## `query` for convenient filtering

In [ ]:
df = pd.read_csv('../data/iris.csv')

In [ ]:
# not so super convenient to read
df[((df.variety == 'Setosa') & (df['petal_width'] > 0.4)) | ((df.variety == 'Virginica') & (df['sepal_width'] > 3.5))]

In [ ]:
# use a query string instead

df.query('(variety == "Setosa" and petal_width > 0.4) or (variety == "Virginica" and sepal_width > 3.5)')

In [ ]:
# of course you can just refer to column values in both sides of the comparison, and you can do math in the query...
df.query('sepal_length < 1.1*petal_length')

In [ ]:
# sometimes column names are not valid python identifiers:
renamed_df = df.rename(columns={'sepal_length': 'sepal length'})
renamed_df.head(3)

In [ ]:
# query doesn't work out of the box then
renamed_df.query('sepal length > 7')

In [ ]:
# but you can use backticks to escape such variable names
renamed_df.query('`sepal length` > 7')

In [ ]:
# you can refer to external variables by pre-fixing them with an @-sign
min_sepal_length = 7
df.query('sepal_length > @min_sepal_length')

## aggregations
- return a single value for a series
- usually applied per-column (but could also be applied per-row)
- easy methods for aggregating multiple columns with multiple aggregation functions
- revisit later with windowing/grouping

**there are a large number of such functions we could apply**
- count: Number of non-NA observations
- sum: Sum of values
- prod: Product of values
- mean: Mean of values
- std: Sample standard deviation
- sem: Standard error of the mean
- var: Unbiased variance
- skew: Sample skewness (3rd moment)
- kurt: Sample kurtosis (4th moment)
- median: Arithmetic median of values
- quantile: Sample quantile (value at %)
- min/max: Smalles/Largest value
- idxmin/idxmax: Index of smallest/largest value
- mode: Most frequent value
- nunique: number of unique values
- cumsum/comprod: Cumulative sum/product
- cummax/cummin: Cumulative maximum/minimum
- ... probably more that I forgot

In [ ]:
df = pd.read_csv('../data/iris.csv')

In [ ]:
# applying an aggregation function to a dataframe applies the function column-wise
df.drop(columns='variety').mean()

In [ ]:
# I can apply it row-wise using the `axis` parameter
df.drop(columns='variety').mean(axis=1)

In [ ]:
# sometimes we want to apply multiple aggregations, there's a convenient helper `aggregate`
df.drop(columns='variety').aggregate(['sum', 'mean', 'median', 'nunique'])

In [ ]:
# you can use your own functions -- the argument will be a series
# but the name is not very nice now...
df.drop(columns='variety').aggregate([lambda x: sum(x), lambda x: x.median()])

In [ ]:
def my_mean(s: pd.Series) -> float | str:
    if s.dtype.name != 'object':
        return sum(s) / len(s)
    return '<CAN NOT AGGREGATE OBJECTS>'

In [ ]:
# if I used named functions rather than lambdas, the name of the function is assigned
df.aggregate([my_mean])

In [ ]:
# I can also use aggregate with dictionary arguments, allowing me to apply separate functions for each column
df.aggregate(
    {
        'sepal_length': 'mean',
        'sepal_width': ['mean', 'min', 'max']
    }
)

In [ ]:
# finally, you can use named arguments to select columns /and/ rename the output label
df.aggregate(
    sepal_length_mean=('sepal_length', lambda x: x.mean()),
    sepal_width_max=('sepal_width', lambda x: x.max()),
)

In [ ]:
# `agg` is an alias for `aggregate`
# documentation actually recommends using the `agg` alias
df.agg == df.aggregate

## apply functions to DataFrames
- apply functions to a whole table: `pipe`
- apply functions to rows/columns: `apply`
- apply functions to each element: `map`
- apply multiple functions to each element: `transform`

### pipe
- function argument is a dataframe
- function return is a dataframe

In [ ]:
address_df = pd.DataFrame(dict(address = ['Frau Dr. Ute Herzog,  Esplanade 89,  31759 Teugn', 'Gaby Maier, Landsberger Allee 59, 31759 MÃ¼nchen']))
address_df

In [ ]:
def extract_postcode_city(df):
    df['postcode_city'] = df['address'].str.split(',').str.get(-1).str.strip()
    return df

def extract_postcode(df):
    df['postcode'] = df['postcode_city'].str.split(' ').str.get(0).str.strip()
    return df

def extract_name(df):
    df['name'] = df['address'].str.split(',').str.get(0).str.strip()
    return df

def add_country_name(df, country):
    df['country'] = country
    return df

In [ ]:
# applying all three is not very nice to read
extract_name(add_country_name(extract_postcode(extract_postcode_city(address_df)), ' DE'))

In [ ]:
# much nicer to read with `pipe`
(
  address_df
    .pipe(extract_postcode_city)
    .pipe(extract_postcode)
    .pipe(add_country_name, 'DE')
    .pipe(extract_name)
)

### apply
- function argument is a series
- function return is a pd.Series or a scalar
  - if the function returns a Series, `apply` returns a DataFrame
  - if the function returns a scalar, `apply` returns a Series
- the function is applied to all rows or columns of the `DataFrame` by `apply`

In [ ]:
# example where the function returns a Series
def scale_min_max(s: pd.Series) -> pd.Series:
    return (s - s.min()) / (s.max() - s.min())

In [ ]:
df = pd.DataFrame(np.random.randint(low=3, high=17, size=(5, 3)), columns=['col_1', 'col_2', 'col_3'])
df

In [ ]:
# apply our min-max-scaler to each column separately
df.apply(scale_min_max)

In [ ]:
# or apply it to each row...
df.apply(scale_min_max, axis=1)

In [ ]:
def min_max_index_diff(s: pd.Series) -> int:
    return s.idxmax() - s.idxmin()

In [ ]:
df.apply(min_max_index_diff)

### map
- function argument is a scalar
- return value is a scalar
- return value of `map` is a `DataFrame`
- the function is applied to all elements of the DataFrame by `map`

In [ ]:
df = pd.DataFrame(
    {
        'numeric': [1, 2, 3.1415, 4, 5],
        'text': ['hello', 'world', 'aint', 'this', 'fun']
    })
df

In [ ]:
df.map(lambda x: len(str(x)))

### transform
- like `map`, but applying multiple functions, and getting a result for each
- similar argument syntax to `aggregate`

In [ ]:
df = pd.DataFrame(np.random.randint(low=3, high=17, size=(5, 3)), columns=['col_1', 'col_2', 'col_3'])
df

In [ ]:
# columns become a multi-index here, too...
df.transform(['sqrt', lambda x: x+1])

In [ ]:
df.transform({'col_1': lambda x: x+1, 'col_2': lambda x: x+2, 'col_3': [lambda x: x+3, 'sqrt']})

In [ ]:
# but this part of the `aggregate` syntax doesn't work for transform...
df.transform(x=('col_1', 'sqrt'))

## cleaning data

### dealing with NaNs

In [ ]:
df = pd.DataFrame(np.random.randint(2, 12, size=(3, 4)), columns=['col1', 'col2', 'col3', 'col4'])
df.iloc[0, ::2] = np.NaN
df.iloc[1, 1::2] = np.NaN
df

In [ ]:
# same shape DataFrame telling you for each element whether it as NA
df.isna()

In [ ]:
# opposite of the above...
df.notna()

In [ ]:
# many of the aggregation functions ignore NAs by default
df.mean()

In [ ]:
# you can replace NA values by something new
df.fillna(-1)

In [ ]:
# but you can also impute e.g. mean (or any other value) per column
df.fillna(df.mean())

In [ ]:
# reminder, this is what `df.mean()` looked like:
df.mean()

In [ ]:
# so this also works (unspecified columns are simply skipped):
df.fillna(pd.Series({'col1': -5, 'col3': -7}))

In [ ]:
# and you don't even need the series, just use a dict
df.fillna({'col1': -5, 'col3': -7})

### duplicate rows

In [ ]:
df = pd.DataFrame({
    'id': ['foo', 'bar', 'foo', 'bazz', 'bazz'],
    'color': ['red', 'red', 'green', 'blue', 'blue'],
    'length': [1, 2, 3, 2, 2]
})
df

In [ ]:
# find rows that are all duplicates
df.duplicated()

In [ ]:
# find rows where some columns are duplicated
df.duplicated(['id'])

In [ ]:
# drop rows that are full duplicates
df.drop_duplicates()

In [ ]:
# drop rows that are partial duplicates
df.drop_duplicates(['id'])

In [ ]:
# by default you keep the first row
# of course you can change that
df.drop_duplicates(['id'], keep='last')

## Special Accessors
- `.str` for string columns
- `.dt` for timestamp columns

### `str` accessor
- makes string functions (eg `upper`, `lower`, indexing, ...) available as vectorized methods on a Series

In [ ]:
df = pd.DataFrame(
    {
        'numeric': [1, 2, 3.1415, 4, 5],
        'text': ['hello', 'world', 'aint', 'this', 'fun']
    })
df

In [ ]:
# just a normal row index
df.text[0]

In [ ]:
# vectorized, returning the first character of each element
df['first_character'] = df.text.str[0]
df

In [ ]:
df['has_a'] = df.text.str.contains('a')
df

### `.dt`-accessor
- just like the string accessor, but for datetime objects

In [ ]:
df = pd.DataFrame({'ts': pd.date_range("20221201 09:10:12", periods=4, freq='M', tz='utc'), 'value': np.arange(4)})
df

In [ ]:
df.ts.dt.month_name()

In [ ]:
df.ts.dt.month

## group-by
- group dataframe by value in one or multiple columns
- and apply functions to the groups
  - **aggregating** functions: calculate one value per group (and column), e.g. group means
  - **transforming** functions: modify all group values with some group-specific function e.g. scaling by group
  - **filter** functions: discard some groups based on group-specific criteria, e.g. discard small groups

In [ ]:
df = pd.read_csv('../data/iris.csv')
df.head(3)

In [ ]:
# groupby returns a `DataFrameGroupBy` object -- not very helpful
df.groupby('variety')

In [ ]:
# you can get information on the identified groups, and which rows belong to a group
df.groupby('variety').groups

In [ ]:
# and you can pull out a single group
df.groupby('variety').get_group('Setosa').head(3)

#### aggregation over groups

In [ ]:
# but mostly, you just call functions on the `GroupBy` object itself; that looks very useful :)
# the value of the group-by column becomes the index of the new DataFrame!
# (change that behaviour with the `as_index` parameter to `groupby`
df.groupby('variety').mean()

In [ ]:
# you can also group by multiple columns, and get a result for each possible combination

df['is_odd'] = np.arange(df.shape[0]) % 2
df.groupby(['variety', 'is_odd']).max()

In [ ]:
del df['is_odd']

In [ ]:
# you can use `aggregate`, just like we saw for the `DataFrame` itself
# everything we saw above for aggregate should work here as well
df.groupby('variety').aggregate(['min', 'max'])

#### transformation of groups

In [ ]:
# transformations don't return the group label...
df.groupby('variety').cumsum()

In [ ]:
# usually the transformation result is combined back with the original dataframe
combined = pd.concat(
    [
        df,
        df.groupby('variety').cumsum().rename(columns=lambda x: x + '_cumsum')
    ],
    axis=1
)
combined[-50:-45]

In [ ]:
# you can of course still use your own transformation functions
# your function is applied to each column in the group separately, so it still accepts a Series
def scale_min_max(s: pd.Series) -> pd.Series:
    return (s - s.min()) / (s.max() - s.min())

df.groupby('variety').transform(scale_min_max)

#### Filtration
- filter, i.e. return some of the rows in each group, specific to the group

In [ ]:
# for example, the two rows for each group with the smalles (thanks to sorting first) values in some column
df.sort_values('sepal_length').groupby('variety').head(2)

In [ ]:
df.groupby('variety').filter(lambda df: df['sepal_width'].mean() > df['petal_length'].mean())

## concatenation and joins
- you can stack `DataFrame`s on top, or next to each other igoring indices/columns using `concat`
- just like in SQL you can also join tables, i.e. combine them along one axis while choosing how to treat the other index
  - `merge` is typically used for joins based on column values
  - `join` is typically used for joins based on index values

### concatenation

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K5", "K6", "K7", "K8"],
        "A": ["C0", "C1", "C2", "C3"],
        "B": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
left

In [ ]:
right

In [ ]:
# stack one below the other
pd.concat([left, right])

In [ ]:
# stack one to the right of the other
pd.concat([left, right], axis=1)

In [ ]:
# same but when the columns/index have different names
left = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key2": ["K5", "K6", "K7", "K8"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }, index=['a', 'b', 'c', 'd']
)

In [ ]:
# content irrelevant, but labels preserved
pd.concat([left, right])

In [ ]:
pd.concat([left, right], axis=1)

In [ ]:
# you can e.g. reset the index to come to a more 'common' representations
pd.concat([left.reset_index(), right.reset_index()], axis=1)

### merging dataframes -- joins based on columns

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
# join two dataframes on the same key
pd.merge(left, right, on='key1')

In [ ]:
# let's drop a row
smaller_right = right.drop(1)
smaller_right

In [ ]:
# by default this is an inner join, i.e. only if the index is present in both will it show up in the result
pd.merge(left, smaller_right, on='key1')

In [ ]:
# you can specify the join type (left/right/inner/outer) through the `how` variable
pd.merge(left, smaller_right, how='outer')

In [ ]:
# there can be multiple columns to join on
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='left')

### join based on indices

In [ ]:
# same as before, but now the old `key` columns become the index

left = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }, index=["K0", "K1", "K2", "K3"],
)

right = pd.DataFrame(
    {
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }, index=["K0", "K1", "K2", "K3"],
)

In [ ]:
left

In [ ]:
right

In [ ]:
# join automaticallyy uses the index as join column
left.join(right)

In [ ]:
small_right = right.drop('K1')

In [ ]:
# default `how` is 'left' this time around
left.join(small_right)

In [ ]:
# but you can pick whichever you like
left.join(small_right, how='right')

In [ ]:
# you can do the same thing with `merge` if you like, so `join` is just a convenient shorthand
pd.merge(left, small_right, left_index=True, right_index=True)

## Timeseries

In [ ]:
df = pd.DataFrame({
    'value_1': np.random.randint(3, 12, size=(4,)),
    'value_2': np.random.randint(3, 12, size=(4,))
}, index=[pd.Timestamp('2023-11-01'), pd.Timestamp('2023-11-02'), pd.Timestamp('2023-11-04'), pd.Timestamp('2023-11-05')])
df

In [ ]:
# fill in gaps in a timeseries
daily_df = df.reindex(pd.date_range('2023-11-01', '2023-11-05', freq='D'))
daily_df

In [ ]:
hourly_df = df.reindex(pd.date_range('2023-11-01', '2023-11-05', freq='H'))
hourly_df.head()

In [ ]:
# indexing timestamps is 'fuzzy' if you use a string as index
hourly_df.loc['2023-11-01'].head()

In [ ]:
# funky slicing
hourly_df.loc['2023-11-01 05:00:00':'2023-11-01 08:00:00'].head()

In [ ]:
# using a Timestamp as index is precise, though
hourly_df.loc[pd.Timestamp('2023-11-01')]

In [ ]:
# fill NaNs with older values
daily_df.ffill()

In [ ]:
# you can also use `asfreq` to convert to a particular frequency, and fill missing values in one go
df.asfreq(pd.offsets.BDay(), method="ffill")

In [ ]:
# just a reminder what `df` looks like
df

In [ ]:
# shifting data
pd.concat([df, df.shift(1)], axis=1)

In [ ]:
# better specify a frequency!
pd.concat([df, df.shift(1, freq='D')], axis=1)

In [ ]:
# windowing functions
df.rolling(2).mean()

# plotnine
- alternative API for plotting
- built on top of matplotlib
- works great with pandas
- not used so much in python
- but similar to a **very** popular R library, `ggplot2`
- based on concepts from [A grammar of graphics](https://www.cs.uic.edu/~wilkinson/TheGrammarOfGraphics/GOG.html)

## Installation and Import

In [ ]:
!/home/atreju/.conda/envs/dhbw/bin/pip install plotnine

In [ ]:
import plotnine as p9  # convention, as usual

## Basic Example

In [ ]:
df = pd.read_csv('../data/iris.csv')

In [ ]:
(
    p9.ggplot(df, p9.aes(x='sepal_length', y='sepal_width', colour='variety', group='variety'))
      + p9.geom_point()
      + p9.geom_smooth(method='lm')
)

In [ ]:
(
  p9.ggplot(df, p9.aes(x='variety', y='sepal_width', fill='variety')) 
      + p9.geom_violin(draw_quantiles=0.5, trim=False)
      + p9.scale_fill_brewer(type='qual')
)

# Seaborn
- another library for plotting & visualization
- specific focus on statistics
- with very high-level API

## Installation and Import

In [ ]:
!/home/atreju/.conda/envs/dhbw/bin/pip install seaborn

In [ ]:
import seaborn as sns  # guess what: convention
%matplotlib inline

In [ ]:
tips = sns.load_dataset('tips')
tips

## Examples

In [ ]:
# plot statistical relationship between multiple variables
sns.relplot(
    data=tips,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
);

In [ ]:
# or for distributions
sns.displot(data=tips, x="total_bill", col="time", kde=True);

In [ ]:
# or more violins
# here called `catplot`(categorical, not the animal :) because we're using many categorical variables
# (day, smoker)
sns.catplot(data=tips, kind="violin", x="day", y="total_bill", hue="smoker", split=True)

In [ ]:
# plot correlations between many variables in one go, and color by group
df = pd.read_csv('../data/iris.csv')
sns.pairplot(data=df, hue="variety");